/* slide images start */

.myslider{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.slide-img{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide-img::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    position: absolute;
}

.slide-img img{
    width: 100%;
    height: 100vh;
    position: absolute;
}

.slide-img img:not(.aktif){
    left: -100%;
}

@keyframes slide1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}

@keyframes slide2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes slide-1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@keyframes slide-2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

/* slide images end */

/* berita start */

.news{
    width: 100%;
    height: 500px;
    background-color: #00692d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 40px;
    overflow: hidden;
}

.more p {
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    text-align: end;
    margin-top: 5px;
}

.more p:hover{
    color: #ffd700;
}

.news a{
    text-decoration: none;
}

.h-berita{
    width: 738px;
}

.h-berita h1{
    font-size: 35px;
    font-family: Ubuntu;
    font-weight: bolder;
    color: #ffd64e;
}

.news-c{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-c .c-berita{
    position: relative;
    width: 578px !important;
    height: 325px;
    margin: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.news-c .c-berita .berita-content{
    position: absolute;
    bottom: -35%;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.5s;
}

.news-c .c-berita:hover .berita-content{
    bottom: 0;
}

.berita-title h3{
    font-family: Roboto;
    font-size: 20px;
    color: #ffffff;
    padding: 0 10px;
    margin-top: 7px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.berita-img{
    width: 100%;
}

.berita-img img{
    width: 578px;
    height: 325px;
    object-fit: cover;
    transform: translateY(3px)
}

.berita-sinop p{
    font-family: Roboto;
    font-size: 15px;
    color: #ffffff;
    padding: 0px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.berita-sinop a, .berita-sinop h6{
    text-decoration: none;
    font-family: Roboto;
    font-size: 15px;
    color: #ffffff;
    padding: 5px 10px;
}

.berita-sinop h6:hover{
    color: #ffd700;
}

.beritaarrow ion-icon{
    width: 30px;
    height: 30px;
    color: #014b21;
}

.swiper-button-next.beritaarrow, .swiper-button-prev.beritaarrow{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color: #fff !important;
}

.beritaarrow.kanan{
    opacity: 0;
    transform: translateX(-100%);
    transition-duration: 1.5s;
}

.beritaarrow.kiri{
    opacity: 0;
    transform: translateX(100%);
    transition-duration: 1.5s;
}

/* berita end */

/* sub menu start */

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: '' !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.submenuarrow ion-icon{
    width: 30px;
    height: 30px;
    color: #014b21;
}

.sub-menu{
    width: 100%;
    height: 347px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008953;
    box-sizing: border-box;
    padding: 0 40px
}

.sub-menu h1{
    font-size: 32px;
    font-family: Ubuntu, sans-serif;
    font-weight: 900;
    color: #fff;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(-50%);
}

.submenu{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
}

.SubmenuArrow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-550%);
}

.swiper-button-next.submenuarrow, .swiper-button-prev.submenuarrow{
    position: relative !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color: #fff !important;
}

.subMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.box{
    width: 168px;
    height: 179px;
    background-color: #fff;
    border: 4px solid #ffd700;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img{
    width: 130px;
    height: 130px;
}

.box img:hover{
    width: 140px;
    height: 140px;
}

.subMenu h6{
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    padding-top: 5px;
    color: #fff;
}
/* sub menu end */

/* waktu shalat start */

.waktu-shalat{
    width: 100%;
    height: 100vh;
    background: url('http://192.168.138.116:8000/items/Fathanah-1.png');
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.waktu-shalat-column1, .waktu-shalat-column2{
    width: 50%;
    height: 100%;
}

.waktu-shalat-column2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jam{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.jam1{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transform: translate(0, -50%);
    transition-duration: 1s;
    
}

.jam1 span{
    margin-left: auto;
    margin-right: auto;
    font-size: 88px;
    font-family: Ubuntu;
    font-weight: 900;
    color: #003014;
}

.hari{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px;
    scale: 0;
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.hari p{
    font-size: 25px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    color: #003014;
}

.waktu-shalat-content{
    transform: translateY(50%);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.waktu-shalat-content p{
    font-size: 42px;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    color: #ffd64e;
    -webkit-text-stroke: 1.5px #000;
}

.waktu-shalat-header h1{
    font-family: Ubuntu;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.waktu-shalat-header hr {
    width: 80%;
    background-color: #000000;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.kokota{
    animation: atasbawah 2s infinite alternate;
    opacity: 0;
    transition-delay: 0.5s;
    transition-duration: 1.5s;
}

@keyframes atasbawah {
    0%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(-5px);
    }
}

.kota-kab{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
    padding: 10px 30px;
    box-sizing: border-box;
    border: 2px solid #00692d;
    background-color: #fff;
    border-radius: 10px;
}

#input{
    width: 100%;
    height: 25px;
    outline: none;
    border: 2px solid #d9d9d8;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 5px;
}

.hidden-list{
    display: none;
}

.kota-list{
    position: absolute;
    width: 600px;
    height: 150px;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #00692d;
    border-radius: 5px;
    z-index: 9999;
    box-sizing: border-box;
    transform: translateY(50%);
}

.kota-list li{
    list-style: none;
}

.kota-list li:hover{
    background-color: #00692d;
    color: #fff;
}

.kota-list li p{
    margin: 2px 7.5px;
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    cursor: default;
}

.nama-kota{
    display: flex;
    align-items: center;
}

.nama-kota p{
    font-size: 25px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
}

.nama-kota ion-icon{
    width: 32px;
    height: 46px;
}

.jadwal{
    display: flex;
    flex-direction: column;
    border: 2px solid #00692d;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px 40px;
    margin: 0 0 20px;
}

.jadwalnya{
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}

.jadwalnya p{
    font-size: 20px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.jadwalnya span{
    font-size: 20px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    color: #ffd700;
    width: 15%;
    height: 35px;
    border-radius: 20px;
    background-color: #00692d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow{
    width: 100%;
    height: 43px;
    border-radius: 50%;
    background-color: rgba(190, 197, 127, 0.8);
}

/* waktu shalat end */

/* Hubungi Kami start */

.contact{
    width: 100%;
    height: 390px;
    background-color: #003014;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.fathanah-contact-form{
    width: 65%;
    opacity: 0;
    transform: translateX(-100%);
    transition-duration: 1.5s;
}

.fathanah-contact{
    opacity: 0;
    transform: translateX(100%);
    transition-duration: 1.5s;
}

.fathanah-contact-form p{
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.contact-form{
    width: 100%;
    background-color: #008953;
    border-radius: 20px;
    padding: 25px;
    box-sizing: border-box;
}

.contact-form textarea{
    width: 100%;
    height: 155px;
    resize: none;
    border: none;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 15px;
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
}

.fathanah-contact-logo{
    width: 232px;
    height: 116px;
}

.fathanah-contact-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-form-button{
    width: 100%;
    display: flex;
    justify-content: end;
}

.contact-form-button button{
    width: 120px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    background-color: #00692d;
    margin-top: 11px;
}

.contact-form-button button:hover{
    background-color: #ffd64e;
    color: #003014;
}

.contact-form-button button:active{
    background-color: #ebebeb;
    color: #000;
}

.contact-sosmed{
    display: flex;
}

.contact-sosmed a{
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}

.contact-sosmed p, .contact-sosmed a{
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

ion-icon#contact-icons{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contact-sosmed p:hover, .contact-sosmed a:hover, ion-icon#contact-icons:hover{
    color: #ffd700;
}

/* Hubungi Kami end */