* {
    margin: 0;
    padding: 0;
}

.bodies{
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar start*/

@font-face {
    font-family: brand;
    src: url('http://192.168.138.116:8000/font/Sitimaesaroh-YJdj.otf');
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
    background-color: #00692d;
    align-items: center;
    border-bottom: 5px solid #ffd700;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header a{
    font-family: brand;
    font-size: 30px;
    color: #ffd700;
    text-decoration: none;
}

/* Navbar end*/

/* Body start */

.container{
    margin: 120px 50px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
}

.back{
    width: 100%;
    height: auto;
}

img.back-img{
    width: 30px;
    height: 30px;
    cursor: pointer; 
}

.h1{
    margin-bottom: 20px;
}

.h1 h1{
    font-size: 32px;
    font-family: Roboto, sans-serif;
}

.img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}

.img img{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.buttons{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
}

.buttons button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #00692d;
    color: #ffffff;
    font-weight: 700;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 1px;
}

.buttons button:hover{
    background-color: #ffd700;
    color: #000000;
}

/* Body end */

/* Footer start */

.footer{
    display: flex;
    align-items: center;
    background-color: #00692d;
    width: 100%;
    height: 40px;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
}

.footer p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    padding-left: 50px;
}

/* Footer end */